doctype html
html
  head
    // Bootstrap core JavaScript
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Core plugin JavaScript
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
    // Custom scripts for all pages
    script(src='/js/sb-admin-2.min.js')
    // Page level plugins
    script(src='/vendor/chart.js/Chart.min.js')
    // Page level custom scripts
    script(src='/js/demo/chart-area-demo.js')
    script(src='/js/demo/chart-pie-demo.js')
    // Page level plugins
    script(src='/vendor/datatables/jquery.dataTables.min.js')
    script(src='/vendor/datatables/dataTables.bootstrap4.min.js')
    // Page level custom scripts
    script(src='/js/demo/datatables-demo.js')
